@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
:root {
    --white: #fff;
    --gray: #b6b6b6;
    --black: #444444;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: "Itim", cursive;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 15px solid rgb(41, 41, 41); */
    /* box-shadow: 0 0 50px rgb(78, 78, 78); */
    width: 42vw;
    height: 43vh;
    margin: 80px auto 40px;
    padding: 30px;
    > label {
        font-size: 45px;
        font-weight: bolder;
        margin: 10px 0 35px;
    }
    > input {
        border: 1px solid var(--gray);;
        text-align: center;
        width: 70%;
        height: 17%;
        padding: 5px;
        text-indent: 0.43rem;
        font-size: 25px;
        transition: 0.5s ease;
    }
    > input:focus {
        border: 1px solid #60aaff;
    }
    & .btn-group {
        margin: 30px 0;
        & button {
            width: 9.5rem;
            height: 3rem;
            font-size: 23px;
            text-transform: capitalize;
            cursor: pointer;
            margin-inline: 1rem;
            border: none;
            outline: none;
            transition: 0.5s ease-in;
        }
        & button:hover {
            color: var(--white);
        }
    }
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 5rem;
    place-items: center;
    align-items: start;
    > .box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 24rem;
        > ul {
            > li {
                margin: 20px 0;
                border-radius: 25px;
            }
        }
    }
}

li {
    position: relative;
    list-style: none;
    /* list-style-position: inside; */
    overflow: hidden;
    font-size: 26px;
    width: 320px;
    height: 140px;
    height: max-content;
    padding: 20px;
    background-color: #fff;
    & header {
        text-align: start;
        & h2 {
            word-wrap: break-word;
            letter-spacing: normal;
            font-size: 39px;
        }
        & p{
            text-align: end;
            font-size: 18px;
            margin-bottom: 30px;
            color: #f3af1c;
        }
    }
    & .input-group{
        text-align: center;
        & input[type="text"] {
            width: 70%;
            background-color: #f1f1f1;
            border: 1.4px rgb(209, 209, 209) solid;
            outline: none;
        }        
    }
    & .btn-group{
        position: absolute;
        bottom: 3%;
        right: 3%;  
        & input[type="checkbox"] {
            /* accent-color: rgb(85, 241, 46); */
            width: 23px;
            height: 23px;
        }
    }
}

.fa-g {
    color: var(--black);
    font-size: 28px;
}

.line {
    color: #8d8d8d;
    text-decoration: line-through;
    opacity: 0.98;
}
.line-g {
    color: #8d8d8d;
    opacity: 0.98;
    & span i {
        color: #8d8d8d;
    }
}
