@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
:root {
    --white: #fff;
    --gray: #b6b6b6;
    --gray2: #8d8d8d;
    --black: #444444;
    --green: rgba(55, 255, 48, 0.801);
    --orange: #f3af1c;
    --blue: #59ecff;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: "Itim", cursive;
}

*::selection{
    color: var(--white);
    background-color: var(--blue);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 15px solid rgb(41, 41, 41); */
    /* box-shadow: 0 0 50px rgb(78, 78, 78); */
    width: 42vw;
    height: 43vh;
    margin: 80px auto 40px;
    padding: 30px;
    > label {
        font-size: 45px;
        font-weight: bolder;
        margin: 10px 0 35px;
    }
    > input {
        border: 1px solid var(--gray);
        text-align: center;
        width: 70%;
        height: 17%;
        padding: 5px;
        text-indent: 0.43rem;
        font-size: 25px;
        transition: 0.5s ease;
    }
    > input:focus {
        border: 1px solid var(--blue);
    }
    & .btn-group {
        margin: 30px 0;
        & button {
            width: 9.5rem;
            height: 3rem;
            font-size: 23px;
            text-transform: capitalize;
            cursor: pointer;
            margin-inline: 1rem;
            border: none;
            outline: none;
            transition: 0.5s ease-in;
        }
        & button:hover {
            color: var(--white);
        }
    }
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 5rem;
    place-items: center;
    align-items: start;
    > .box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 24rem;
        > ul {
            > li {
                margin: 20px 0;
                border-radius: 25px;
            }
        }
    }
}

li {
    position: relative;
    list-style: none;
    /* list-style-position: inside; */
    overflow: hidden;
    transition: .43s ease-in;
    font-size: 26px;
    width: 320px;
    height: max-content;
    padding: 20px;
    background-color: #ffffff9f;
    & header {
        text-align: start;
        & h2 {
            word-wrap: break-word;
            letter-spacing: normal;
            font-size: 39px;
        }
        & p {
            cursor: default;
            text-align: end;
            font-size: 18px;
            margin-block: 10px 30px;
            color: var(--orange);
        }
    }
    & .input-group {
        text-align: center;
        & input[type="text"] {
            width: 65%;
            padding: 2.5pt;
            background-color: #f1f1f1;
            border: 1.4px rgb(209, 209, 209) solid;
            outline: none;
        }
    }
    & .btn-group {
        position: absolute;
        bottom: 3%;
        right: 3%;
        & input[type="checkbox"] {
            cursor: pointer;
            transform: translate(0, 2px);
            accent-color: var(--green);
            width: 23px;
            height: 23px;
            margin-right: 3px;
        }
    }
}

li:hover{
    /* box-shadow: 0 0 13px rgb(189, 189, 189); */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 12px 18px 0px;
}

.fa-g {
    color: var(--black);
    font-size: 28px;
}

.line {
    color: var(--gray2);
    text-decoration: line-through;
    opacity: 0.721;
}
.line-g {
    color: var(--gray2);
    opacity: 0.721;
    & p {
        opacity: 0.83;
    }
    & .btn-group input[type="checkbox"] {
        opacity: 0.9;
    }
    & span i {
        opacity: 0.86;
        color: var(--gray2);
    }
}
